:root{
    /* primary color */
    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);  
    /* Neutral color */
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    /* Typography */
    --paragraph: 16px;
}

/* Custom font */
@font-face {
    font-family:'DMSerifDisplay Regular';
    src: url('font/DMSerifDisplay-Regular.ttf');
}
@font-face {
    font-family:'Karla Bold';
    src: url('font/Karla-Bold.ttf');
}
@font-face {
    font-family:'Karla Regular';
    src: url('font/Karla-Regular.ttf');
}
 /* Box sizing rules */
 *,
 *::before,
 *::after {
   margin:0;
   padding: 0;
   box-sizing:border-box;
 }
 
 /* Remove default margin */
 body,
 h1,
 h2,
 h3,
 h4,
 p,
 button {
   margin: 0;
 }
 ul, li, a{
  text-decoration: none;
  list-style: none;
 }
body{
  margin: 0;
  padding: 0;
}
.box{
  margin:20px auto;
  box-sizing: border-box;
  width:76%;
}
header{
  height:100vh;
  background-color: var(--Very-Light-Gray);
 /* background-image: url('images/bg-pattern-intro-right-desktop.svg');
 background-repeat: no-repeat;
 background-position-x: right; */
}
.nav-header{
  max-width: 500px;
  width:100%;
}
.nav-toggle{
  display: none;
}
nav{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  box-shadow:1px 5px 10px hsl(256, 26%, 20%);
  background-color: var(--Very-Light-Gray);
}
.navbar{
  display:flex;
  align-items: center;
  justify-content: space-between;
  height:20px;
  /* padding: 10px 0px; */
}
.nav-links{
  display: flex;
  /* justify-content:space-between ; */
}
.nav-links li {
  margin-right: 35px;
}
.nav-links li  a{
  text-transform: uppercase;
  font-family:'Karla Bold';
  font-size: 14px;
  color:var(--Dark-Grayish-Violet);
}
.nav-links a:hover{
  color:var(--Very-Dark-Violet);
}
.nav-links .view_plans{
  padding:6px;
  position:relative;
  top:-3px;
  background-color:transparent ;
  border: 2px solid var(--Very-Dark-Violet);
  height:29px;
  width:110px;
  /* margin-left:20px ; */
  text-align: center;
  text-transform: uppercase;
  font-family:'Karla Bold';
  font-size: 13px;
  color:var(--Very-Dark-Violet);
}

.nav-links .view_plans:hover{
  background-color:var(--Very-Dark-Violet);
  color:var(--Very-Light-Gray);
  border:none;
}
.pattern-right{
 position:absolute;
 /* z-index:5; */
 right:-171px;
 top:0;
}
.pattern-left{
  position:absolute;
  left:-172px;
  top:407px;
}
.pattern-right img{
  width:436px;
  height:493px;
}
.header-content{
  /* position: relative; */
  background-color:var(--Dark-Violet);
  height:80vh;
}
.flex{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
}

.line{
  width:140px;
  height:0.5px;
  margin-top: 15px;
  background-color: var(--Very-Light-Gray);
}
.header-text{
  position: absolute;
  top:70px;
}
.header-text h1{
  font-size: 65px;
  font-family:'DMSerifDisplay Regular';
  line-height:60px;
  color: var(--Very-Light-Gray);
  margin-top: 60px;
  font-weight: 100;
  
}
.header-text p{
  font-family:'Karla Regular';
  color: var(--Very-Light-Gray);
  font-weight: 100;
  font-size: 16px;
  width:550px;
  line-height:25px;
  margin: 30px 0px;
}
#views_plans{
  padding:12px;
  background-color: transparent;
  color:var(--Very-Light-Gray);
  border: 1px solid var(--Very-Light-Gray);
  text-transform: uppercase;
  font-size: 16px;
  font-family:'Karla Regular';
  width:120px;
}
#views_plans:hover{
  background-color: var(--Very-Light-Gray);
  color:var(--Dark-Violet);
  cursor: pointer;

}
.family{
  /* width: 420px; */
  position: absolute;
  right:0px;
  top:80px;
}
main{
  position: relative;
  top:150px;
  height:100vh
}
.main-line{
  width:130px;
  height:0.5px;
  margin-bottom: 30px;
  background-color: var(--Dark-Violet);
  /* background-color:var(--Dark-Grayish-Violet); */
}
.main-header h2{
  font-size: 59px;
  font-family:'DMSerifDisplay Regular';
  line-height:60px;
  color: var(--Very-Dark-Violet);
  margin-bottom: 60px;
  font-weight: 100;
}
main .grid{
  display: flex;
  justify-content: space-between;
}
.grid .icon{
  margin:25px 0px;
}
.grid .grid-header{
  margin-bottom: 20px;
  font-family:'DMSerifDisplay Regular';
  font-size: 22px;
  color: var(--Very-Dark-Violet);
  font-weight: 100;
}
.grid .grid-text{
  font-family:'Karla Regular';
  color:var(--Dark-Grayish-Violet);
  margin-bottom: 20px;
  line-height: 25px;
  font-size: 16px;
  width:350px;
}

.how_we_work{
  background-color:var(--Dark-Violet);
  height:200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px ;
  position:relative;
  top:100px;
  /* min-width: 100%; */
  background-image: url('images/bg-pattern-how-we-work-desktop.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-size:350px;
}
.how_we_work h4{
  font-size: 62px;
  font-family:'DMSerifDisplay Regular';
  color: var(--Very-Light-Gray);
  font-weight: 100;
  line-height: 60px;
}
#how_we_work{
  /* padding:8px; */
  background-color: transparent;
  border:2px solid var(--Very-Light-Gray);
  font-size: 15px;
  color: var(--Very-Light-Gray);
  width:135px;
  height: 35px;
  font-family:'Karla Regular';
  text-align: center;
}
#how_we_work:hover{
  background-color: var(--Very-Light-Gray);
  color:var(--Dark-Violet);
  cursor: pointer;

}
footer{
  background-color: var(--Very-Light-Gray);
  background-image: url('images/bg-pattern-footer-desktop.svg');
  background-repeat: no-repeat;
  position: relative;
  top:250px;
  height: 50vh;
  /* display: flex; */
}
.footer-box{
  position: relative;
  top:56px;
}
.footer-header{
  display: flex;
  justify-content:space-between;
  border-bottom: 1px solid var(--Dark-Grayish-Violet);
  padding:8px 0px;
}
.social-icons img{
  margin-left:8px;
}
.social-icons img:hover {
  cursor: pointer;
  background-color: var(--Dark-Violet);
}
.footer-content{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 85%;
}
.footer-content p{
  margin-bottom: 20px;
  font-family:'Karla Bold';
  text-transform: uppercase;
  color: var( --Dark-Grayish-Violet);
}
.footer-content li{
padding-bottom: 10px;
text-transform: uppercase;
font-family:'Karla Bold';
color: var(--Dark-Violet);
}
.footer-content li:hover{
  text-decoration: underline;
}

@media only screen and (max-width:600px) {
  .box{
    
    width:90%;
  }
  .nav-links{
    display: none;
  }
  .nav-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1rem;
  width:100%;
  max-width: 500px;
  }
  .nav-toggle{
    display: inline-block;
    font-size: 1.3rem;
    color:var( --Very-Dark-Violet);
    background: transparent;
    padding:6px;
    border-color: var( --Very-Dark-Violet);
    /* transition: var(--transition); */
    cursor: pointer;
  }
  .navbar{
    height:40px;
    /* padding: 10px 0px; */
  }
  .header-content{
    /* position: relative; */
    background-color:var(--Dark-Violet);
    height:100vh;
  }
  .flex{
    display: flex;
    flex-direction: row;
  }









  
}
